* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ffffff;
    color: #222;
}

header {
    width: 100%;
    background: rgba(255,255,255,0.8);
    position: fixed;
    height: 10%;
    top: 0;
    text-align: center;
    color: white;
    left: 0;
    padding: 15px 40px;
    z-index: 100;
}

header li {
    list-style: none;
    display: flex;
    gap: 25px;
    
}

header a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    text-align: center;
}

header a:hover {
    color: #007bff;
}

nav {
    width: 100%;
    height: 90vh;
    text-align: center;
    padding-top: 150px;
    background: url("../img/image1.png") no-repeat center/cover;
    clip-path: polygon( 0 0, 100% 0, 100%, 85% 100%, 0 85%);
    color: white;
}

nav h1 {
    font-size: 3.5rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
}

nav p {
    margin-top: 10px;
    font-size: 1.2rem;
    opacity: 0.9;
}

article {
    width: 80%;
    margin: 80px auto;
    line-height: 1.7;
    font-size: 1.1rem;
}

article h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    bottom: 20%;
}

article h1 {
    margin-top: 25px;
    font-size: 1.6rem;
    color: #0056d6;
    bottom: unset;
}

.imagenes {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.imagenes img {
    width: 100%;
    border-radius: 10px;
}

section {
    width: 80%;
    margin: 60px auto;
}

section img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
    float: center;
}
section id {
    width: 25%;
}

section h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #003f8a;
}

section a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

section a:hover {
    color: #0056d6;
}

footer {
    background: #0056d6;
    color: white;
    text-align: center;
    padding: 25px 0;
    margin-top: 60px;
    font-size: 1rem;
}
